@import "variables";

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    background: $primary-dark-gray;
    color: $secondary-dark-gray;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;

    img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    h1 {
        color: $gray;
        font-size: 45px;
        font-weight: 100;
        margin-top: 100px;
        text-align: center;

        @media (max-width: $xs-width) {
            margin-top: 25px;
            font-size: 40px;
        }

        .line {
            display: inline-block;
        }
    }

    div.new-task {
        margin-top: 40px;
        padding: 0 10px;
        text-align: center;

        @media (max-width: $xs-width) {
            margin-top: 25px;
        }

        input {
            border: 0;
            border-radius: 5px 0 0 5px;
            box-shadow: $box-shadow;
            box-sizing: border-box;
            color: $green;
            font-size: 18px;
            font-weight: 100;
            height: 36px;
            outline: none;
            padding: 0 15px;
            width: 265px;

            @media (max-width: $xs-width) {
                width: calc(100% - 115px);
            }

            &::placeholder {
                color: $dark-gray;
            }
        }

        button {
            background: $light-green;
            border: 0;
            border-radius: 0 5px 5px 0;
            box-shadow: $box-shadow;
            box-sizing: border-box;
            color: $gray;
            font-size: 18px;
            font-weight: 100;
            height: 36px;
            outline: none;
            padding: 0;
            vertical-align: top;
            width: 115px;

            &:hover, &:active {
                background: $green;
                cursor: pointer;
            }
        }
    }

    section {
        background: $gray;
        border-radius: 5px;
        box-shadow: $box-shadow;
        margin: 20px auto 100px;
        width: 500px;

        @media (max-width: $xs-width) {
            width: 100%;
            border-radius: 0;
            margin: 10px auto 30px;
        }

        .heading {
            background: $heading-gray;
            border-bottom: 1px solid $line-gray;
            border-radius: 5px 5px 0 0;
            padding: 15px;
            position: relative;

            p {
                margin: 0;

                &#date {
                    color: $light-green;
                    font-size: 21px;

                    .day {
                        font-weight: 300;
                    }
                }

                &#month {
                    font-size: 16px;
                }

                &#task-count {
                    position: absolute;
                    right: 15px;
                    top: 27px;
                }
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            &#task-list {
                li {
                    border-bottom: 1px solid $line-gray;
                    padding: 20px 15px;

                    .checkbox {
                        display: inline-block;
                        position: relative;
                        vertical-align: middle;
                        width: 20px;

                        label {
                            background: white;
                            border: 1px solid $secondary-dark-gray;
                            border-radius: 4px;
                            cursor: pointer;
                            height: 18px;
                            left: 0;
                            position: absolute;
                            top: 1px;
                            width: 18px;

                            &:after {
                                border: 3px solid $dark-gray;
                                border-right: none;
                                border-top: none;
                                content: '';
                                height: 4px;
                                left: 4px;
                                opacity: 0;
                                position: absolute;
                                top: 4px;
                                transform: rotate(-45deg);
                                width: 8px;
                            }
                        }

                        input[type=checkbox] {
                            visibility: hidden;

                            &:checked + label:after {
                                opacity: 1;
                            }
                        }
                    }

                    p {
                        display: inline-block;
                        font-size: 20px;
                        margin: 0 0 0 10px;
                        overflow: hidden;
                        position: relative;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        white-space: nowrap;
                        width: 80%;
                        font-weight: 300;

                        &.completed {
                            text-decoration: line-through;
                        }
                    }

                    &:hover {
                        background: $heading-gray;
                    }
                }
            }

            &.show-menu {
                text-align: center;

                li {
                    display: inline-block;
                    margin: 5px;
                    padding: 5px;

                    &.active {
                        color: $light-green;
                    }

                    &:hover {
                        color: $light-green;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}