$purple: #954BFF;
$dark-purple: #8049E8;
$orange: #F39900;
$gray: #F6F6F6;
$dark-gray: #EFEFEF;
$line-gray: #E3E3E3;
$text-gray: #8B8B8B;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$xs-width: 600px;